<!Doctype>
<html>
	<head>
		<title> This is  my first web page</title>
		<style>
    body{
	background:rgb(40,30,30);
	}
  </style>
	</head>
	<body>
		<h1>
	The first web page .Html in Seperate file.
</h1>
<h2>
	
	The loop will repeat <strong> <%= Iteration %> </strong> times
</h2>
	
	<% data.forEach(function(data1){ %>
		<li> <%= data1.author%> - <%= data1.title %> </li>
	   
	  <% }) %>
		
	</body>
	
</html>



