<!DOCTYPE html>
<html>
	
	<head>
		<title>The Form webpage</title>
	</head>
	<body>
		<h1>These are list of your FRIEND</h1>
		<h3>Add those missing one</h3>
		<% for(var i=0;i<data.length;i++){ %>
			<li> <%= data[i] %> </li>
			<% } %>
			<form action="/addfriend" method="POST">
				<!-- <label for="friend">NAME: </label> -->
			<input type="text" name="newfriend" placeholder="Add Friend" >
			<!-- <input type="button" value="Submit"> -->
			<button>Submit</button>
			</form>
	</body>
	
</html>