<!DOCTYPE html>
<html>
    <head>
        <title>Instagram Photo and Video Downloader</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Home Page</h1>
        <form action="/username" method="POST">
        <input type="text" placeholder="userID" name="userID">
        <button>Submit</button>
        </form>

    </body>
</html>