<!DOCTYPE html>
<html>s
    <head>
        <title>Instagram Photo and Video Downloader</title>
        
    </head>
    <body>
        <h1>Home Page <%=res[0]%></h1>
        <form action="/username" method="POST">
        <input type="text" placeholder="userID" name="userID">
        <button>Submit</button>
        </form>

    </body>
</html>